<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posts</title>
</head>

<body>
  <h1>글 목록</h1>
  <h2>총 글 수: <%= postCounts %></h2>
  <ul>
    <% if (postCounts > 0) { %>
    <% for(let i = 0; i < postCounts; i++) { %>
    <li>
      <p>TITLE: <%= POST[i].title %></p>
      <p>CONTENT: <%= POST[i].content %></p>
    </li>
    <% } %>
    <% } else { %>
    <li>
      글이 없습니다!
    </li>
    <% } %>
  </ul>
</body>

</html>